* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background: url("background.jpeg");
    background-size: cover;
    display: grid;
    place-items: center;
    color: peachpuff;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
}

.container {
    width: 150vh;
    height: 60vh;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    place-items: center;
    background-color: rgb(88, 85, 85);
    opacity: 80%;
    margin-top: 3%;
}

h3,
h4 {
    margin-bottom: 5px;
    font-size: 25px;
}

input {
    width: 40%;
    height: 5vh;
    outline: none;
}

button {
    width: 15%;
    height: 5vh;
    margin: 5px 0;
    background-color: mediumorchid;
    border: none;
    font-weight: 800;
    color: black;
}

#message1,
#message2,
#message3,
#message4 {
    font-size: 20px;
}

label {
    color: black;
    font-size: 25px;
}

select {
    font-size: 20px;
    outline: none;
}

footer {
    color: white;
    background-color: rgb(85, 83, 83);
    width: 100%;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    font-weight: 900;
}

/* css for mobile screens */
@media only screen and (max-width:800px) {
    body {
        background: black;
        color: white;
    }

    .container {
        width: 90%;
        height: 70vh;
        text-align: center;
        padding: 5px;
        opacity: 100%;
        background-color: rgb(101, 98, 98);
    }

    h1 {
        color: orangered;
        font-size: 30px;
        margin: 25px 0;
    }

    button {
        width: 15vh;
        margin: 0;
    }
    
    #message1,
    #message2,
    #message3,
    #message4 {
        font-size: 15px;
    }
}
